
.header {
    text-align: center;
    color: rgba(83, 181, 180);
}

.body {
    background-color: rgba(255, 226, 224);
    height: 100%;
}

.conteuiner {
    text-align: center;
    color: rgba(83, 181, 180);
}

.aside {
    display: 'inline-block';
    
    text-align: center;
    background-color: rgba(252, 177, 177);
    margin: 10px;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
}

.main {
    display: 'inline-block';
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.p {
    color: rgba(0,0,0);
}


