
.headerText {
    text-align: center;
    color: rgba(83, 181, 180);
}
.header {
    position: relative;
}

.body {
    background-color: rgba(255, 226, 224);
}

.conteuiner {
    text-align: center;
    color: rgba(83, 181, 180);
}

.aside {
    position: absolute;
    text-align: center;
    background-color: rgba(252, 177, 177);
    padding:  100% 10px;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
}

.main {
    right: 0;
    top: 0;
    height: 100%;
    position: absolute;
    display: 'inline-block';
    text-align: center;
    padding: 100% 10px;
}

.p {
    color: rgba(0,0,0);
}


